<h1>Flats</h1>


<% @flats.each do |flat| %>
  <%= link_to flat_path(flat["id"]), class: "bg-secondary" do %>
    <div class="shadow p-3 mb-5 bg-body rounded">
      <%= image_tag flat["imageUrl"], class: "w-50 rounded" %>
      <div class="d-flex justify-content-between pt-4">
        <p><%= flat["name"] %></p>
        <p><%= flat["price"] %>€</p>
      </div>
    </div>
  <% end %>
<% end %>
